run = "uvicorn app:app --host 0.0.0.0 --port 8000"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "uvicorn app:app --host 0.0.0.0 --port 8000"]
deploymentTarget = "cloudrun"
